* {
  margin: 0;
  padding: 0;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  margin-inline: 10%;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 50px 10px;
  font-size: 16px;
  align-items: center;
}

.nav-bar-l img {
  width: 50px;
}

.nav-bar-l {
  background-color: antiquewhite;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.nav-bar-r {
  display: flex;
  gap: 40px;
}
.nav-bar-r a {
  display: block;
  text-decoration: none;
  color: #aaaaaa;
}
a:hover {
  background-color: #ffe2e2;
}

.content,
.text-footer {
  color: #aaaaaa;
  text-align: center;
  padding: 20px;
}
.user-name,
.title-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 46px;
  color: #ffc7c7;
  font-family: 600;
}
.job,
.parag {
  margin-block: 20px;
  color: #aaaaaa;
  font-size: 16px;
}
.parag {
  text-align: justify;
  line-height: 30px;
}
.my-pic img {
  text-align: center;
  width: 40%;
}
.title-content {
  font-size: 22px;
  margin-bottom: 10px;
}
.block-content {
  display: inline-block;
}
.parag-1 {
  display: flex;
  gap: 20px;
  color: #aaaaaa;
  font-size: 16px;
  margin-block: 20px;
}
.block-content img {
  width: 8%;
  gap: 10px;
}
/* ----------- Education page--------------- */

.my-pic-education img {
  text-align: center;
  width: 10%;
}
.table-education,
.table-experient {
  border: 1px solid red;
  border-collapse: collapse;
  width: 70%;
  text-align: center;
  margin-block: 5%;
}
.table-h {
  background-color: #ffe2e2;
}
.table-education td,
.table-experient td,
.table-education th,
.table-experient th {
  color: #aaaaaa;
  border: 1px solid #aaaaaa;
  padding: 10px 10px;
}
.content-education,
.content-experient,
.content-contact {
  display: flex;
  justify-content: center;
}

/* ----------- Education page--------------- */
.my-pic-experient img {
  width: 30%;
}
.table-experient {
  margin-block: 2.5%;
}
/* ----------- Contact page--------------- */
.title {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
}
label {
  color: #aaaaaa;
}
.content-contact form {
  display: table-caption;
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  padding: 20px;
  margin-block: 10%;
  background-color: antiquewhite;
}

#infotext {
  text-align: start;
  width: -webkit-fill-available;
}

.contact-box input {
  width: 264px;
  height: 24px;
  text-align: center;
}

.info-input select {
  width: 266px;
  height: 30px;
  text-align: center;
}

.btn {
  padding: 8px;
  text-align: center;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  color: black;
  font-weight: 500;
  width: 100px;
}

.btn:hover {
  background-color: #ffc7c7;
  font-weight: bold;
}
.info-input {
  padding-block: 5px;
}
